.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4em;
    margin-top: 50px;
}
.informacion{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}